<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINKDIN</title>
</head>
<body style="background-color: rgb(223,201,201);">
    <center>
        <h1 style="color: blue;">welcome to linkdin homepage please login...!</h1>
        <h1 style="border: rgb(18,226,108);color: cadetblue;">{{welcome}}</h1>
        <h1><marquee behavior="alternate" direction="left">{{name}}</marquee></h1>
    </center>
</body>
</html>