<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TELEGRAM</title>
</head>
<body style="background-color: black;">
    <center>
        <h1 style="color: aliceblue;">Hai i am from telegram welcome back to homepage...</h1>
        <h1 style="color: beige;"><marquee behavior="alternate" direction="left">{{name}}</marquee></h1>
        <h1 style="color: bisque;">{{welcome}}</h1>
    </center>
    
</body>
</html>